mixin picture(media, format, path, name, density)
  source(
    media=media,
    type=((format === "webp" || format === "avif") ? "image/" + format : null),
    srcset=`${path}${name}@${density[0]}.${format} ${density[0]}, ${path}${name}@${density[1]}.${format} ${density[1]}`
  )
