mixin intro(classes)
  section.intro.page-header__intro(class=classes)
    h2.visually-hidden!= intro.title

    .intro__inner
      b.intro__slogan!= intro.slogan

      +button(["button--white", "intro__button"], "Скачать приложение", false)(href="#")

      ul.platforms.intro__platforms
        each link in intro.platforms
          li.platforms__item
            a.platforms__link(class="platforms__link--" + link.name)
              span.visually-hidden!= link.text
              +icon(link.name, link.icon.width, link.icon.height)

      p.intro__description!= intro.descr
